<h3>Recargas</h3>
<form class="form"
   [formGroup] ="ventaFormGroup"
   (ngSubmit)  ="insertVenta(ventaFormGroup.value)">

   <div class="form-group">
    <label for="persona">Vendedor:</label>
    <select
    [(ngModel)]="defaultValue"
      class="form-control"
      id="persona"
      [formControl]="ventaFormGroup.controls['persona']">
      <option class="dropdown-item" disabled [selected]="true" [ngValue]="defaultValue">{{defaultValue}}</option>
      <option
        *ngFor="let persona of personas"
        [value]="persona.personaId" >
          {{persona.nombre}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="operador">Operador:</label>
    <select
    [(ngModel)]="defaultValue"
      class="form-control"
      id="operador"
      [formControl]="ventaFormGroup.controls['operador']">
      <option class="dropdown-item" disabled [selected]="true" [ngValue]="defaultValue">{{defaultValue}}</option>
      <option
        *ngFor="let operador of operadores"
        [value]="operador.operadorId" >
          {{operador.nombre}}
      </option>
    </select>
  </div>

  <div class    ="form-group">
    <label for ="tipoRecarga">Tipo de Recarga:</label>
    <select
      [(ngModel)]="defaultValue3"
      (ngModelChange)="modelChangeFn($event)"
        class="form-control"
        id="tipoRecarga"
        [formControl]="ventaFormGroup.controls['tipoRecarga']">
        <option class="dropdown-item" disabled [selected]="true" [ngValue]="defaultValue3" >{{defaultValue3}}</option>
        <option
          *ngFor="let name of optionsEnumTipoRegarga; let i = index"
          [ngValue]="name">
            {{name}}
        </option>
    </select>
  </div>


  <div class    ="form-group">
    <label for ="recarga">Recarga:</label>
    <select
      [(ngModel)]="defaultValue3"
      (ngModelChange)="modelChangeFn($event)"
        class="form-control"
        id="recarga"
        [formControl]="ventaFormGroup.controls['recarga']">
        <option class="dropdown-item" disabled [selected]="true" [ngValue]="defaultValue3" >{{defaultValue3}}</option>
        <option
          *ngFor="let recarga of recargas; let i = index"
          [ngValue]="recarga.recargaId">
            {{recarga.descripcion}}
        </option>
    </select>
  </div>

  <div class="form-group">
    <label for="valor">Valor:</label>
    <input  id   ="valor"
            name ="valor"
            [formControl]="ventaFormGroup.controls['valor']">
  </div>

  <div class="form-group">
    <label for="nroCelular">Nro Celular:</label>
    <input  id   ="nroCelular"
            name ="nroCelular"
            [formControl]="ventaFormGroup.controls['nroCelular']">
  </div>

  <div class="botonForm">
    <button type="submit"
    class="btn btn-primary">
    Guardar
  </button>

  </div>
</form>

